*{
    margin: 0;
}
.all{
    width: 1521px;
    height: 985px;
    background-image: url(./Rectangle\ 1.png);
    background-repeat: no-repeat;
    
}
.div1{
    display: flex;
    width: 1180px;
    height: 72px;
    
    margin: auto;
    align-items: center;
    justify-content: space-between;

 }
.grup{
    width: 137px;
    height: 50px;
}
.glavnaya{
   width: 831px;
   height: 44px;
    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.but{
    width: 157px;
    height: 44px;
    border-radius: 4px;
    color: white;
    background-color: #1A3E3E;
    border-radius: 8PX;

}
.hero{
    width: 30px;
    height: 30px;
    display: none;
    
}

.div1poyon{
    width: 1080px;
    height: 150px;

    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 180px;
    margin-top: 500px;
}

.div1poyon2{
    width: 1180px;
    height: 161px;
    background-color: #FFFFFF33;
    margin-top: 41px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.box{
    
}

.box1{
    width: 270px;
    height: 52px;
    border: 1px solid white;
    background-color: #FFFFFF33;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    gap: 10px;

}
.box1 img{
    width: 20px;
    height: 20px;
    
}

.vip{
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 8px;
}

.nayti{
    width: 213PX;
    height: 52PX;
    border: none;
    border-radius: 8PX;
    background-color: white;
    color: black;
    font-size: 14PX;
    margin-bottom: 27PX;
}
@media(max-width: 510px){
    *{
    margin: 0;
   }
    .all{
         width: 390px;
        height: 600px;
    }
    
    .div1{
        width: 390px;
        
    }
    .grup{
        width: 84px;
        height: 44px;
        padding: 0;
        margin-left: 16px;
    }
    .hero{
        display: block;
        margin-right: 16px;
        width: 30px;
        height: 30px;
    }
    .glavnaya {
        display: none;
    }

    .div1poyon{
       
       width: 370px;
       margin: 0px;
       padding: 0px;
        margin: auto;

    }
    .textcomand{
        width: 345px;
        height: 168px;
        margin-top: 280px;
        
        
    }
    .textcomand1{
        font-size: 28px;
        
    }
    .div1poyon2{
        width: 220PX;
        height: 52PX;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    
    }
    .nayti{
        margin: 0;
    }
    .box{
        display: none;
    }

}