* {
    margin: 0;
}

.all {
    width: 1521px;
    height: 985px;
    background-image: url(./Rectangle\ 1.png);
    background-repeat: no-repeat;

}

.div1 {
    display: flex;
    width: 1180px;
    height: 72px;

    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.grup {
    width: 137px;
    height: 50px;
}

.glavnaya {
    width: 831px;
    height: 44px;

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.but {
    width: 157px;
    height: 44px;
    border-radius: 4px;
    color: white;
    background-color: #1A3E3E;
    border-radius: 8PX;

}

.hero {
    width: 30px;
    height: 30px;
    display: none;

}

.div1poyon {
    width: 1080px;
    height: 150px;

    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 180px;
    margin-top: 500px;
}

.div1poyon2 {
    width: 1180px;
    height: 161px;
    background-color: #FFFFFF33;
    margin-top: 41px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.box {}

.box1 {
    width: 270px;
    height: 52px;
    border: 1px solid white;
    background-color: #FFFFFF33;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    gap: 10px;

}

.box1 img {
    width: 20px;
    height: 20px;

}

.vip {
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 8px;
}

.nayti {
    width: 213PX;
    height: 52PX;
    border: none;
    border-radius: 8PX;
    background-color: white;
    color: black;
    font-size: 14PX;
    margin-bottom: 27PX;
}

.div2 {
    width: 1180px;
    height: 526px;

    margin: 100px auto;
    display: flex;
    gap: 120px;
}

.div2chap1 {
    width: 480px;
    height: 526px;

    position: relative;

}

.div2glapic {
    width: 350px;
    height: 400px;
    border-radius: 24px;
    position: absolute;
    z-index: 1;

}

.div2chap2 {
    width: 350px;
    height: 400px;
    border-radius: 24px;
    background-image: url(./Rectangle\ 4.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 126px;
    left: 130px;
    z-index: 2;

}

.div2rost {
    width: 580px;
    height: 398px;

}

.div2rost h3 {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
}

.div2rost h2 {
    color: #18121E;
    font-size: 36px;
    font-weight: 900;

}

.div2rost p {
    font-size: 18px;
    font-weight: 400;
    margin: 40px 0px;
}


.div2rost button {
    width: 200px;
    height: 52px;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: white;
    margin-top: 31px;
}

.div3 {
    width: 1521px;
    height: 771px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #F3F5F4;
}

.div3chap {
    width: 580px;
    height: 591px;
}

.div3chap h3 {
    font-size: 24px;
    font-weight: 400;
    color: #F2BE22;
}

.div3chap h2 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 8px;
}

.div3text {
    font-size: 18px;
    margin: 40px 0px;
}

.div3opit {
    width: 580px;
    height: 64px;
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

.div3opit img {
    width: 50px;
    height: 50px;
}

.div3opit2 h4 {
    margin-bottom: 8px;
    font-size: 18px;
}

.div3chap button {
    width: 236px;
    height: 52px;
    background-color: #1A3E3E;
    color: white;
    border-radius: 4px;
    margin-top: 12px;
}

.div3rost {
    width: 510px;
    height: 510px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.div3rost img {
    width: 250px;
    height: 250px;
    background-color: #F3F5F4;
}

.div4bolo6 {
    width: 580px;
    height: 66px;
    background-color: lightgray;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.div4bolo6 p {
    font-size: 24px;
    font-weight: 400;
    color: #F2BE22;
}

.div4bolo6 h3 {
    font-size: 32px;
    font-weight: bolder;
}

.div4bolosurat {
    width: 1180px;
    height: 500px;
    gap: 20px;
    margin: auto;
    background-color: #F3F5F4;
    display: flex;
    color: white;
    margin-bottom: 50px;

}

.div4bolosurat2 {
    width: 380px;
    height: 500px;
    border-radius: 32px;
    background-image: url(./фоновое\ изображение.png);
    display: flex;
    align-items: end;
}

.div4bolosurat4 {
    width: 380px;
    height: 90px;
    border-radius: 0px 0px 32px 32px;
    background-color: #FFFFFF33;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}



.div4text2 {
    width: 86px;
    height: 40px;
    background-color: #FFFFFF4D;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}






.div4bolosurat2rost {
    width: 380px;
    height: 500px;
    border-radius: 32px;
    background-image: url(./фоновое\ изображение\ \(1\).png);
    display: flex;

    align-items: end;
}

.div4bolosurat3rost {
    width: 380px;
    height: 90px;
    border-radius: 0px 0px 32px 32px;
    background-color: #FFFFFF33;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.div4bolosurat3 {
    background-image: url(./фоновое\ изображение\ \(2\).png);
}



.div4textrost2 {
    width: 86px;
    height: 40px;
    background-color: #FFFFFF33;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}


.div4button {
    width: 244px;
    height: 52px;
    color: white;
    background-color: #1A3E3E;
    border-radius: 4px;
    margin-left: 640px;

}

.div5 {
    width: 1521px;
    height: 1036px;
    background-color: #F3F5F4;
}


.div5bolo {
    width: 580px;
    height: 66px;

    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;

}

.div5bolo p {
    color: #F2BE22;
    font-weight: 400;
    font-size: 24px;
}


.div5bolo h3 {
    font-weight: 800;
    font-size: 32px;
}

.div5poyon {
    width: 1180px;
    height: 648px;
    gap: 18px;
    background-color: #FDFDFD;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;


}

.div5p {
    width: 1180px;
height: 648px;
margin: auto;
border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.div5poyon1 {
    width: 580px;
    height: 312px;
    background-color:#FDFDFD;
    border-radius: 10px;
    display: flex;


}

.div5surat1 {
    width: 230px;
    height: 280px;

    border-radius: 6px;

}

.div5text1 h3 {
    margin: 24px 20px;
}

.div5text3 {
    margin: 24px 20px;
}

.div5data {
    display: flex;
    justify-content: space-between;
    margin: 80px 20px;
}

.div5data1 {
    color: #F2BE22;
}





@media(max-width: 510px) {
    * {
        margin: 0;
    }

    body {
        width: 390px;

    }

    .all {
        width: 390px;
        height: 600px;
        margin: auto;
    }

    .div1 {
        width: 390px;

    }

    .grup {
        width: 84px;
        height: 44px;
        padding: 0;
        margin-left: 16px;
    }

    .hero {
        display: block;
        margin-right: 16px;
        width: 30px;
        height: 30px;
    }

    .glavnaya {
        display: none;
    }

    .div1poyon {

        width: 370px;
        margin: 0px;
        padding: 0px;
        margin: auto;

    }

    .textcomand {
        width: 345px;
        height: 168px;
        margin-top: 280px;


    }

    .textcomand1 {
        font-size: 28px;

    }

    .div1poyon2 {
        width: 220PX;
        height: 52PX;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

    }

    .nayti {
        margin: 0;
    }

    .box {
        display: none;
    }

    .div2 {
        width: 358px;
        height: 826px;
        margin: auto;
        flex-direction: column-reverse;
        padding: 0;
        gap: 40px;


    }

    .div2chap1 {
        position: none;
        width: 358px;
        height: 416px;
        position: relative;
    }

    .div2glapic {
        display: none;
    }

    .div2chap2 {
        width: 358px;
        height: 416px;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        gap: 0;
        position: absolute;
        top: 0;
        left: 0;
    }



    .div2rost {
        width: 358px;
        height: 370px;

    }

    .div2rost h3 {
        font-size: 16px;
    }

    .div2rost h2 {
        font-size: 24px;
    }


    .div2rost p {
        font-size: 16px;
        margin: 0;
        margin: 24px 0px;
    }

    .div2rost button {
        width: 176px;
        height: 44px;
        margin: 0;
        margin-left: 90px;
    }

    .div3 {
        width: 390px;
        height: 769px;
        margin: auto;


        padding: 0;
        gap: 0;
    }

    .div3chap {
        width: 390px;
        height: 769px;
        margin: auto;

    }

    .div3chap h3 {
        font-size: 15px;
        margin-bottom: 8px;
        margin-left: 10px;
    }

    .div3chap h2 {
        font-size: 25px;
        margin: 0;
        margin-left: 10px;
    }


    .div3text {
        font-size: 16px;
        margin: 0;
        padding-left: 10px;
        margin: 40px 0px;
    }

    .div3opit {
        width: 340px;
        height: 104px;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .div3chap button {
        width: 212px;
        height: 44px;
        margin-left: 80px;
        border-radius: 4px;
    }

    .div3rost {
        display: none;
    }

    .div4bolo6 {
        width: 358px;
        height: 57px;
        margin: 0;
        padding: 0;
        margin: auto;

    }

    .div4bolo6 p {
        font-size: 16px;
    }

    .div4bolo6 h3 {
        font-size: 24px;
    }

    .div4bolosurat {
        width: 100%;
        height: 500px;
        overflow: scroll;
        margin-left: 0px;
        margin-left: 5PX;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .div4bolosurat2 {
        margin: 0;
        min-width: 90%;
        height: 100%
    }

    .div4button {
        width: 220px;
        height: 44px;
        margin: 0;
        margin-right: -200px;
        margin-left: 80px;
        border-radius: 4px;
    }

    .div5 {
        width: 390px;
        height: 761px;
        flex-wrap: nowrap;
    }

    .div5bolo {
        width: 358px;
        height: 57px;
    }

    .div5bolo p {
        font-family: Nunito Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
    }

    .div5bolo h3 {
        font-family: Nunito Sans;
        font-weight: 800;
        font-style: ExtraBold;
        font-size: 24px;

    }

    .div5p {
        margin: 0;
        flex-direction: column;
        margin-left: 0px;
        margin-left: 5PX;
        margin-top: 20px;
        margin-bottom: 50px;


    }

    .div5poyon {
        flex-wrap: wrap;
        width: 70%;
        height: 60%;
        overflow: auto;
    }

    .div5poyon1 {
        flex-direction: column;
        margin: 0;
        min-width:60%;
        height:500px
    }

    .div5text1 {
        width: 285px;
        height: 200px;

    }

    .div5surat1 {
        width: 285px;
        height: 280px;
        margin: 0;
        margin-bottom: -10px;
    }

    .div5text1 h3 {
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        margin: 0;
        margin-top: 20px;
        margin-left: 16px;
    }

    .div5text3 {
        margin: 0;
        margin-top: 10px;
        margin-left: 16px;
    }

    .div5data {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 16px;
        gap: 80px;
    }

    .div5data1 {
        color: #F2BE22;
    }






}